
.hero {
    background-image: linear-gradient(#00162C , #021120);
    overflow: hidden;

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 50% 50%);
        gap: 30px;
        align-items: center;

        @media (max-width: 640px) {
           display: block;
        }
    }
}

.instruction {

    &__title {
        color: #fff;
        font-size: 44px;
        margin-bottom: 20px;
    }

    &__description {
        font-size: 18px;
        color: #fff;
    }
}

.enrollment {

    &__title {
        font-size: 23px;
        margin-bottom: 16px;
        color: #fff;
    }

    &__description {
        color: #fff;
        margin-bottom: 16px;
    }

    a {
        padding: 14px 10px;
        background-color: #00C86F;
        display: block;
        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;

        @media (max-width:640px) {
            width: 100%;
        }
    }
}


.hero__images {

    img {
        width: 100%;
        max-width: 500px;
        min-width: 320px;
    }
}